@charset "utf-8";
/* CSS Document */

body,ul,ol,h1,h2,h3,h4,h5,h6,p{margin: 0;padding: 0;}
	ul,ol{list-style: none;}
	a{text-decoration: none;
	  color:#000;}
	a:hover{ color:#FF8500;}
	img{vertical-align: middle;}
	em{font-style: normal;}
	.clearfix:after{ content: ""; clear: both; display: block;}
	.gwidth{
		width:1000px;
		margin-left:auto;
		margin-right:auto;}
	.fl{ float:left;}
	.fr{ float:right;}